.layout {
    &:global(.ant-layout) {
        border-radius: 8;
        overflow-x: hidden;
        width: 100%;
        background-color: rgb(18, 18, 18);
    }
}

.header {
    &:global(.ant-layout-header) {
        text-align: center;
        color: #fff;
        height: 60;
        background-color: rgb(47, 47, 47);
    }
}

.left_sider {
    &:global(.ant-layout-sider) {
        text-align: center;
        line-height: 120px;
        color: #fff;
        background-color: rgb(18, 18, 18);
    }
}

.right_sider {
    &:global(.ant-layout-sider) {
        text-align: center;
        line-height: 120px;
        color: #fff;
        background-color: rgb(18, 18, 18);
    }
}

.content {
    min-height: 120px;
    line-height: 32px;
    color: #fff;
    background-color: rgb(18, 18, 18);

    h3 {
        color: rgb(255, 154, 139);
        padding-top: 30px;
    }

    h4 {
        padding-top: 30px;
    }

    p, li {
        padding-left: 20px;
    }
}